/vendor/
/logs/*
!/logs/README.md
.idea/workspace.xml
.idea/ATLAS_TDAQ_Pub.iml
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
node_modules/
public/js/bundle.js
public/css/style.css
public/css/style.css.map
.DS_Store
