$color-bkg: #161A1C;
$color-bkg-block: #253030;
$color-input: #3A689C;
$color-font: #DBFFF2;
$color-font-see-through: transparentize($color-font, 0.5);
$color-font-see-through-more: transparentize($color-font, 0.8);
$color-accent: #1be976;
$color-error: #EB5448;

$margin-block: 2em 20px;
$margin-default: 1em 20px;
$margin-reduced-height: 0.4em 20px;
$padding-block: 0 1em;
$padding-button: 0.5em 1em;

button {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 5px;
  padding: $padding-button;
  background: $color-input;
  transition: background-color 0.2s, top 0.2s;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 0;
}

button:hover {
  background: lighten($color-input, 10%);
}

button:active {
  top: 3px;
}

button:disabled {
  background-color: $color-font-see-through-more;
  opacity: 0.5;
  cursor: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  color: $color-font;
  font-family: 'Dosis', sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: $color-bkg;
}

p, h1, h2 {
  margin: $margin-default;
}

em {
  color: $color-accent;
}

input {
  border: none;
  background: transparent;
  border-bottom: solid 2px $color-accent;
  padding: $padding-button;
  width: 400px;
}

input:invalid {
  border-color: $color-error;
  box-shadow: none;
}

table {
  border-collapse: collapse;
  margin: $margin-default;
}

tr > * {
  padding: $padding-button;
  border-bottom: solid 1px $color-font-see-through-more;
}

.block {
  margin: $margin-block;
  overflow: auto;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 5px;
  background: $color-bkg-block;
}

.block > header {
  border-bottom: dashed 1px $color-input;
}

.inline-wrapper {
  margin-left: -1em;

  .inline-element {
    margin-left: 1em;
  }

}

.description {
  font-style: italic;
  color: transparentize($color-font, 0.5);
  font-size: 1.25em;
}

.move-left {
  float: left;
}

.move-right {
  float: right;
}

.sticky-footer-rest {
  flex: 1;
}

#app-nav {
  background: $color-bkg-block;
  padding: $margin-reduced-height;
  overflow: auto;
}

#app-header {
  text-align: center;
  overflow: auto;
}

#app-footer {
  border-top: solid 2px $color-font-see-through-more;

  * {
    color: $color-font-see-through;
  }
}

#app-menu {
  padding: 0;
  margin: 0;
}

#app-menu li {
  display: inline-block;
  margin: 0;
}

#app-menu a {
  text-decoration: none;
  padding: $padding-button;
  position: relative;
  transition: background-color 0.2s;
  display: block;
}

#app-menu a:hover {
  background: $color-font-see-through-more;
}

#app-menu li.active a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: $color-accent;
}
